# Ambientes virtuais e dependências
.venv/
node_modules/

# Configurações de IDEs
.vscode/

# Dados (ignora tudo dentro de processed e raw, não importa a profundidade)
data/processed/**
data/raw/**

# Arquivos com dados
*.db
*.csv
*.parquet